<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Trello API Django</title>
</head>
<body class="container mt-5">

<h1 class="mb-4">Documentation Trello API Django</h1>
<div class="mb-5">
   <p class="fw-bold pb-0 m-0">route: trello.dlfcaroline.online/api</p>
    <p>Authentification (by token) required for all routes except the one to register.</p>
</div>

<div class="row row-cols-3 g-2">

    <div class="col">
        <div class="card">
            <div class="card-header">Register </div>
         <div class="card-body">
             <div class="d-flex align-items-center mb-3">
                 <div class="badge text-bg-primary me-2">POST</div>
                 <p class="fw-bold mb-0">/register/</p>
             </div>
             <p>Body</p>
             <ul>
                 <li><code>{ "username":"caro", "password":"apassword" }</code></li>
             </ul>
             <p>Response</p>
             <ul>
                 <li><code>{"user created"}</code></li>
                 <li><code>{"try something different"}</code></li>
             </ul>
         </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">Login and get a token </div>
         <div class="card-body">
             <div class="d-flex align-items-center mb-3">
                 <div class="badge text-bg-primary me-2">POST</div>
                 <p class="fw-bold mb-0">/register/</p>
             </div>
             <ul>
                 <li>get a JWT token as well as a refresh token</li>
             </ul>
             <p>Body</p>
             <ul>
                 <li><code>{ "username":"caro", "password":"apassword" }</code></li>
             </ul>

             <p>Response <span class="text-secondary">(I shortened the tokens below)</span> </p>
             <ul>
                 <li><code>{"refresh":"eyJVCJ9.eyJ0b2tlbl94cCIzZXJfaWQiOjJ9.bgY9cFjOt7zy8HiTIk","access":"eyJhbGciOiJIUzI1NiJ99pZCI6Mn0.9xreLxhvwo--ZK9f24nPeq9ln1Vs9sXDp9qj4bx_HCU"}</code></li>
             </ul>
         </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-header">Index all users </div>
         <div class="card-body">
             <div class="d-flex align-items-center mb-3">
                 <div class="badge text-bg-success me-2">GET</div>
                 <p class="fw-bold mb-0">/users/</p>
             </div>
             <ul>
                 <li>a list of usernames</li>
             </ul>
             <p>Response</p>
             <ul>
                 <li><code>[
    { "username": "caro" }, { "username": "caro1" }]</code></li>
                 <li>faudrait ajouter l'id</li>
             </ul>
         </div>
        </div>
    </div>

<!--    BOARDS-->
    <div class="col">
        <div class="card">
            <div class="card-header">Index all boards ?? should only be yours </div>
         <div class="card-body">
             <div class="d-flex align-items-center mb-3">
                 <div class="badge text-bg-success me-2">GET</div>
                 <p class="fw-bold mb-0">/boards/</p>
             </div>
             <ul>
                 <li>a list of boards</li>
             </ul>
             <p>Response</p>
             <ul>
                 <li><a href="#exBoard">see example</a></li>
             </ul>

         </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">Create a new board </div>
         <div class="card-body">
             <div class="d-flex align-items-center mb-3">
                 <div class="badge text-bg-primary me-2">POST</div>
                 <p class="fw-bold mb-0">/new/board/</p>
             </div>
             <ul>
                 <li>just a name needed. Board is linked to a user/creator</li>
                 <li>(ajout visibilité en cours)</li>
             </ul>
             <p>Body</p>
             <ul>
                 <li><code>{ "name":"My first board" }</code></li>
             </ul>
              <p>Response</p>
             <ul>
                 <li><code>{ "id": 2, "creator": { "username": "caro1" }, "name": "My first board" }</code></li>
             </ul>
         </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">Display one board </div>
         <div class="card-body">
             <div class="d-flex align-items-center mb-3">
                 <div class="badge text-bg-success me-2">GET</div>
                 <p class="fw-bold mb-0">/board/{boardId}</p>
             </div>
             <ul>
                 <li>consist of: id, creator, time of creation,name,  lists, cards, labels</li>
             </ul>
             <p>Response</p>
             <ul>
                 <li><a href="#exBoard">see example</a></li>
             </ul>
         </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">Edit a board </div>
         <div class="card-body">
             <div class="d-flex align-items-center mb-3">
                 <div class="badge text-bg-warning me-2">PUT</div>
                 <p class="fw-bold mb-0">/board/{boardId}</p>
             </div>
             <p>Body</p>
             <ul>
                 <li><code>{ "name":"Second Board" }</code></li>
             </ul>
             <p>Response</p>
             <ul>
                 <li><code>"board changes saved"</code></li>
             </ul>
         </div>
        </div>
    </div>
        <div class="col">
        <div class="card">
            <div class="card-header">delete a board </div>
         <div class="card-body">
             <div class="d-flex align-items-center mb-3">
                 <div class="badge text-bg-danger me-2">DELETE</div>
                 <p class="fw-bold mb-0">/delete/board/{boardId}</p>
             </div>
             <ul>
                 <li>pas de verification??</li>
             </ul>
             <p>Response</p>
             <ul>
                 <li><code>"bye bye board"</code></li>
             </ul>
         </div>
        </div>
    </div>
        <div class="col">
        <div class="card">
            <div class="card-header">Add a list to a board </div>
         <div class="card-body">
             <div class="d-flex align-items-center mb-3">
                 <div class="badge text-bg-primary me-2">POST</div>
                 <p class="fw-bold mb-0">/new/list/board/{boardId}</p>
             </div>
              <p>Body</p>
             <ul>
                 <li><code>{ "name":"Things" }</code></li>
            </ul>
             <p>Response</p>
             <ul>
                 <li><code>"new list created" et faudrait retourner l'objet.</code></li>
             </ul>
         </div>
        </div>
    </div>
        <div class="col">
        <div class="card">
            <div class="card-header">Edit a list from a board </div>
         <div class="card-body">
             <div class="d-flex align-items-center mb-3">
                 <div class="badge text-bg-warning me-2">PUT</div>
                 <p class="fw-bold mb-0">/edit/list/{listId}</p>
             </div>
             <ul>
                 <li>only the creator can edit </li>
             </ul>
              <p>Body</p>
             <ul>
                 <li><code>{ "name":"Fruits" }</code></li>
            </ul>
             <p>Response</p>
             <ul>
                 <li><code>"not yours to change"</code></li>
                    <li><code>"list changes saved"</code></li>
          </ul>
         </div>
        </div>
    </div>
        <div class="col">
        <div class="card">
            <div class="card-header">Delete a list  </div>
         <div class="card-body">
             <div class="d-flex align-items-center mb-3">
                 <div class="badge text-bg-danger me-2">DELETE</div>
                 <p class="fw-bold mb-0">/delete/list/{listId}</p>
             </div>
             <ul>
                 <li>pas de verification??</li>
             </ul>
             <p>Response</p>
             <ul>
                <li><code> pas de verification??</code></li>
                 <li><code>"list deleted"</code></li>
             </ul>
         </div>
        </div>
    </div>
        <div class="col">
        <div class="card">
            <div class="card-header">Add a card to a list </div>
         <div class="card-body">
             <div class="d-flex align-items-center mb-3">
                 <div class="badge text-bg-primary me-2">POST</div>
                 <p class="fw-bold mb-0">/new/card/list/{listId}</p>
             </div>
             <p>Body</p>
             <ul>
                 <li><code>{ "content":"lalala framboise" }</code></li>
             </ul>
             <p>Response</p>
             <ul>
                 <li><code>"no such list"</code>-> invalid id</li>
                    <li><code>"card created"</code></li>
          </ul>
         </div>
        </div>
    </div>
            <div class="col">
        <div class="card">
            <div class="card-header">Edit a card </div>
         <div class="card-body">
             <div class="d-flex align-items-center mb-3">
                 <div class="badge text-bg-warning me-2">PUT</div>
                 <p class="fw-bold mb-0">/edit/card/{cardId}</p>
             </div>
             <ul>
                 <li>manque verif</li>
             </ul>
                          <p>Body</p>
             <ul>
                    <li><code>{ "content":"kiwi" }</code></li>
          </ul>
             <p>Response</p>
             <ul>
                    <li><code>"card changes saved"</code></li>
          </ul>
         </div>
        </div>
    </div>
            <div class="col">
        <div class="card">
            <div class="card-header">Delete a card </div>
         <div class="card-body">
             <div class="d-flex align-items-center mb-3">
                 <div class="badge text-bg-danger me-2">DELETE</div>
                 <p class="fw-bold mb-0">/delete/card/{cardId} FAUDRAIT LIER AUSSI A LISTE SPE.</p>
             </div>
              <ul>
                 <li>pas de verification??</li>
             </ul>
             <p>Response</p>
             <ul>
                 <li><code>"card deleted"</code></li>
          </ul>
         </div>
        </div>
    </div>





</div>

    <div class="mt-5" id="exBoard">
        <h3>Example of a board:</h3>
          <pre id="boardJSON" ></pre>
    </div>


<script>
    var boardjson = [
    {
        "id": 1,
        "creator": {
            "username": "caro"
        },
        "created": "08-11-2023, 08:25",
        "name": "A board",
        "labels": [
            {
                "id": 1,
                "name": "rouge"
            }
        ],
        "lists": [
            {
                "id": 1,
                "creator": {
                    "username": "caro"
                },
                "name": "Fruits",
                "cards": [
                    {
                        "id": 1,
                        "content": "lalala framboise",
                        "label": null
                    },
                    {
                        "id": 2,
                        "content": "lalala kiwi",
                        "label": null
                    }
                ]
            },
            {
                "id": 2,
                "creator": {
                    "username": "caro"
                },
                "name": "Things",
                "cards": []
            }
        ]
    }
];

    document.getElementById("boardJSON").innerHTML = JSON.stringify(boardjson, null, 4);

  </script>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>